In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from utils import *

In [84]:
df = read_books('data/simplified_book_list.xlsx')
df.head()

,Title,Author l-f,Additional Authors,ISBN,ISBN13,Publisher,Binding,Number of Pages,Year Published,Original Publication Year,Year Read,user_genre,fiction_status,user_tags,ownership_status,buy?
0,Blubber,"Blume, Judy",NaN,NaN,NaN,Macmillan Children's Books,Paperback,127.0,2006.0,1974.0,2007.0,NaN,fiction,NaN,NaN,y
1,The Secret Garden,"Burnett, Frances Hodgson",NaN,0517189607,9.780517e+12,Children's Classics,Hardcover,331.0,1998.0,1911.0,2007.0,NaN,fiction,NaN,NaN,y
2,"Discount Diva (Zodiac Girls, #3)","Hopkins, Cathy",NaN,0753461315,9.780753e+12,Kingfisher,Paperback,184.0,2007.0,2006.0,2012.0,NaN,fiction,NaN,NaN,NaN
3,Letters from the Inside,"Marsden, John",NaN,0330397761,9.780330e+12,NaN,NaN,144.0,NaN,1991.0,2013.0,NaN,fiction,NaN,NaN,NaN
4,Outside In,"Keighery, Chrissie",NaN,1921502363,9.781922e+12,Hardie Grant Egmont,Paperback,183.0,2012.0,2009.0,2013.0,NaN,fiction,NaN,NaN,NaN

In [85]:
raw = pd.read_excel('data/goodreads_library_export.xlsx')
raw = transform_goodreads_output(raw)
raw.head()

,Title,Author l-f,Additional Authors,ISBN,ISBN13,Publisher,Binding,Number of Pages,Year Published,Original Publication Year,user_genre,Year Read,fiction_status,user_tags,ownership_status,buy?
0,Artificial Intelligence: A Modern Approach,"Russell, Stuart",Peter Norvig,0136042597,9.780136e+12,Pearson,Hardcover,1152.0,2009.0,1994.0,data-science,2023.0,NaN,NaN,NaN,NaN
1,Data Mining: Practical Machine Learning Tools ...,"Witten, Ian H.","Eibe Frank, Mark A. Hall, Christopher J. Pal",0128042915,9.780128e+12,Morgan Kaufmann,Paperback,654.0,2016.0,1999.0,data-science,2022.0,NaN,NaN,NaN,NaN
2,Learning SPARQL: Querying and Updating with SP...,"DuCharme, Bob",NaN,1449371434,9.781449e+12,O'Reilly Media,Paperback,384.0,2013.0,2011.0,data-science,2023.0,NaN,NaN,NaN,NaN
3,Mathematics for Machine Learning,"Deisenroth, Marc","A. Aldo Faisal, Cheng Soon Ong",110845514X,9.781108e+12,Cambridge University Press,Paperback,398.0,2020.0,NaN,data-science,2022.0,NaN,NaN,NaN,NaN
4,Understanding Machine Learning: From Theory To...,"INDIA, CAMBRIDGE",NaN,1107512824,9.781108e+12,Shai Shalev-Shwartz,Paperback,NaN,2015.0,2014.0,data-science,2023.0,NaN,NaN,NaN,NaN

In [ ]:
total = df['Title'].count()
print(f'Total books read: {total}')

In [ ]:
grouped = df.groupby(['Year Published']).count()['Title']

In [ ]:
tmp = df.groupby(['Original Publication Year']).count()['Title']

plt.figure(figsize=(20,10))
plt.bar(tmp.index, tmp.values)
plt.title('Total Books Read by Year Published')
plt.xlabel('Year')
plt.ylabel('Number of Books Read')
plt.grid(alpha=0.5)

In [ ]:
tmp = df.groupby(['Original Publication Year']).sum()['Number of Pages']

plt.figure(figsize=(20,10))
plt.bar(tmp.index, tmp.values)
plt.title('Total Pages Read by Year Published')
plt.xlabel('Year')
plt.ylabel('Number of Pages Read')
plt.grid(alpha=0.5)

In [ ]:
plt.figure(figsize=(20,10))
plt.scatter(df['Year Read'], df['Original Publication Year'])
plt.title('Year I Read Books vs Year Book was Published')
plt.xlabel('Year I Read Book')
plt.ylabel('Year Book was Published')
plt.grid(alpha=0.5)

In [ ]:
tmp = df[df['fiction_status']=='non-fiction'].groupby(['Year Published'])['fiction_status'].count()

plt.figure(figsize=(20,10))
plt.bar(tmp.index, tmp.values)
plt.title('Number of Non-Fiction Books Read by Year Published')
plt.xlabel('Year')
plt.ylabel('Number of Non-Fiction Books Read')
plt.grid(alpha=0.5)

In [ ]:
tmp = df[df['buy?']=='y'].groupby(['Original Publication Year'])['buy?'].count()

plt.figure(figsize=(20,10))
plt.bar(tmp.index, tmp.values)
plt.title('Books I Want To Buy by Year Published')
plt.xlabel('Year')
plt.ylabel('Number of Books I Want To Buy')
plt.grid(alpha=0.5)